@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap");
div#navbarSupportedContent {
  font-size: 20px;
}

.btn-cruve {
  background-image: linear-gradient(120deg, #1cd8ba, #2ebbed);
  padding: 8px 15px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  font-size: 20px;
  -webkit-box-shadow: 1px 0px 1px gray;
          box-shadow: 1px 0px 1px gray;
}

.caruselbg-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000101), to(#075c5a));
  background-image: linear-gradient(#000101, #075c5a);
  padding: 50px 0px;
  color: #fff;
  height: 600px;
}

.carousel-indicators li {
  display: none;
}

.caruselbg-image1 {
  background-color: #f26744;
  padding: 50px 0px;
  color: #fff;
  height: 600px;
}

.caruselbg-image2 {
  background-image: url(../image/slider_bg_1.jpg);
  padding: 50px 0px;
  background-size: 100%;
  color: #333;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 20px;
  text-align: center;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: red;
  border-radius: 50%;
}

.border {
  background-color: #f26744;
  height: 80px;
  width: 5px;
}

.text {
  position: relative;
  width: 100%;
  height: 1005;
}

.text::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  border-left: 3px solid #f26744;
  color: red;
}

.itembg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06aaec), to(#36b057));
  background-image: linear-gradient(#06aaec, #36b057);
}

.carousel-item {
  -webkit-transition: 2s;
  transition: 2s;
}

.hader-text h1,
.hader-text h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #0d052e;
  color: #fff;
}

#about {
  background-image: -webkit-gradient(linear, left top, right top, from(#09d1c9), to(#27a3db));
  background-image: linear-gradient(90deg, #09d1c9, #27a3db);
  padding: 80px 0px;
}

#about img {
  width: 100%;
  -webkit-animation: pulse 5s infinite;
          animation: pulse 5s infinite;
}

.about-text {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #0d052e;
  color: #fff;
}

.about-text p {
  color: #0c0d3d;
  font-family: "Roboto", sans-serif;
}

.header-image img {
  width: 100%;
  min-height: 350px;
}

.what-bg {
  background-image: url(../image/what.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.font-style {
  font-family: "Merriweather", serif;
  font-weight: 600;
}

.custom-div {
  -webkit-transition: 2s;
  transition: 2s;
}

.custom-div:hover {
  border-radius: 100px 0px;
  background-image: linear-gradient(160deg, #b6a158, #654fe4, #51bfe4);
  -webkit-box-shadow: 0px 30px 50px rgba(32, 168, 111, 0.1);
          box-shadow: 0px 30px 50px rgba(32, 168, 111, 0.1);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}

#featuer {
  background-image: -webkit-gradient(linear, left top, right top, from(#0094e8), to(#f15cb3));
  background-image: linear-gradient(90deg, #0094e8, #f15cb3);
  padding: 50px 0px;
}

.team-Profile h2,
.team-Profile p {
  font-family: "Merriweather", serif;
  font-weight: 600;
}

.team-Profile ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-Profile ul li {
  margin-bottom: 10px;
  padding-right: 5px;
}

.team-Profile ul a {
  text-decoration: none;
  color: #333;
}

.team-Profile ul :hover {
  color: #111383;
  font-weight: bold;
}

#team {
  padding: 50px 0px;
}

#team h1 {
  font-family: "Merriweather", serif;
  font-weight: 600;
  padding: 20px 0px;
}

.navbar-nav .active {
  border-bottom: 2px solid #e76241;
}

#contact {
  background-color: #0c0d3d;
  color: #fff;
}

#contact h2,
#contact h4,
#contact p {
  font-family: "Merriweather", serif;
  font-weight: 600;
}

.list-unstyled li a {
  color: #fff;
}

.list-unstyled :hover {
  text-decoration: none;
  color: purple;
}

.footer-bg {
  padding: 50px 0px;
  background-image: linear-gradient(60deg, #ea9087, #9789a3);
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 60%;
  bottom: 60%;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 20px;
  text-align: center;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
/*# sourceMappingURL=main.css.map */